.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    position: relative;
    overflow: hidden;
}

.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    --webkit-backdrop-filter: blur(10px);
    z-index: 1;
}

.home-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000);
    z-index: 1;
}

.intro-text {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 5rem 2rem;
    color: white;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 8px 32px 0 rgba(52, 191, 255, 0.342);
}
.intro-text h1 {
    font-family: monospace;
    font-size: 3.9rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(45deg,
            #ffffff,
            #82e2e5,
            #005d81);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.intro-text h2 {
    font-family: monospace;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: white;
    opacity: 0.8;
}

.intro-text p {
    font-family: monospace;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1.5rem;
    opacity: 0.7;
}

.home-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #a9fcff;
    background: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #ffffff, #a9fcff, #52ceff);
    border-image-slice: 1;
    cursor: pointer;
    transition: all 0.6s ease;
    background-clip: padding-box;
}

.contact-button:hover {
    color: white;
    background: linear-gradient(45deg, #c0c0c0d2, #5296b1, #285e8a);
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #c0c0c0d2, #5296b1, #285e8a);
    border-image-slice: 1;
    transition: all 0.6s ease;

}


.intro-content {
    text-align: left;
    flex: 1;
}

.avatar {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        justify-content: center;
        min-height: 85vh;
        padding: 0rem;
    }

    .intro-text {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        max-width: 100%;
        border-radius: 20px;
        padding: 0rem;
        margin: 0rem;
    }

    .intro-text h1 {
        font-size: 9vw;
        text-align: center;
    }

    .intro-text p {
        font-size: 5vw;
        text-align: center;
    }

    .contact-button {
        display: block;
        padding: 2% 4%;
        font-size: 3.5vw;
        text-align: center;
        margin: 5% auto;
    }

    #code {
        object-fit: cover;  /* Ensures the image fills the container while maintaining aspect ratio */
        height: 100%;        /* Makes the image fill the height of its container */
        width: 100%;         /* Makes the image fill the width of its container */
        object-position: center; /* Centers the image so the sides are cropped evenly */
    }

    .avatar {
        width: 30%;
        height: 30%;
        max-height: 150px; /* Optional: to prevent the image from becoming too large */
        max-width: 150px; /* Optional: to prevent the image from becoming too large */
    }
}
